/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/packages/default-package.html
/build/classes/java/test/GlobalTests.class
/build/reports/tests/test/classes/GlobalTests.html
/build/reports/tests/test/index.html
/build/tmp/test/jar_extract_2123492038554219607_tmp
/build/tmp/test/jar_extract_3449587043271496905_tmp
/build/tmp/test/jar_extract_4328842937994053446_tmp
/build/tmp/test/jar_extract_5276421101189950595_tmp
/build/tmp/test/jar_extract_6068856100462842211_tmp
/build/tmp/test/jar_extract_6333729438694236533_tmp
/build/tmp/test/jar_extract_6421535556117548759_tmp
/build/tmp/test/jar_extract_8188492640010898236_tmp
/build/tmp/test/jar_extract_9316461148233508902_tmp
/build/tmp/test/jar_extract_13190127999522778996_tmp
/build/tmp/test/jar_extract_13728062513604084892_tmp
/build/tmp/test/jar_extract_14969436743139315705_tmp
/build/tmp/test/jar_extract_15430310926584188250_tmp
/build/tmp/test/jar_extract_16626194726990701212_tmp
/build/tmp/test/jar_extract_18160334253823144515_tmp
/build/classes/java/main/traffic/Main.class
/out/production/classes/traffic/Main.class
/build/tmp/compileJava/compileTransaction/stash-dir/Main.class.uniqueId0
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/reports/tests/test/js/report.js
/build/test-results/test/binary/results.bin
/build/classes/java/test/Road.class
/build/reports/tests/test/css/style.css
/build/classes/java/test/SystemOutput.class
/build/test-results/test/TEST-GlobalTests.xml
/test/GlobalTests.java
/src/traffic/Main.class
/test/SystemOutput.java
